#node
node_modules/

#IDE specific
/.vscode

#Confidential or not required files
secret.json
shard.service
info.txt

#storage files
guildData/*.json
!guildData/default.json
configuration/reaction-roles.json
configuration/giveaways.json
configuration/twitchTrackedChannels.json
